/* Outline */

html {
	font-size: 2.1em;
}
body {

}
header {
	
	.logo {
		img {
		}
	}
}
nav {

	ul {

		li {
			a {
	
				&:hover {
				}
			}
		}
	}
	&:hover {
	}
}

section {
}

footer {
	.social {
		a {
			margin: 0 4em;
			width:50px;
			height: 50px;
			span {
			}
		}
		a[title="Twitter"] {
		}
		a[title="LinkedIn"] {
		}
		a[title="GitHub"] {
		}
	}
}

/* Module Styles */

.dark {

	.button {

	}
}
.light {

	.button {

	}
}

.button {

	&:hover {
	}
}


/* Section Styles */
#about {
	
	background-size: 100%;
	
	img {
		max-width: 600px;
		width: inherit;
	}
	> em {
		font-size: 1.1em;
		span {

		}
	}
	h2 {
		font-size: 2.4em;
		span {

		}
	}
	p {
		max-width: 30em;
	}
	.button {
	}
}
#services {
	div {
		img {
			
		}
		h3 {
			
		}
		p {
			
		}
	}
}
#work {
	.project {
		.image {
			
			
		}
		img {
			
			width:100%;
			
		}

		p {
			
		}
	}
}

#contact {
	input, textarea {
	}
	.button {
	}
}