<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>{{page.title}}</title>
	<link href="resume.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Raleway:700,900%7COpen+Sans700,900' rel='stylesheet'>
</head>

<body itemscope itemtype="http://schema.org/Person">

<ul class="download">
		<li><a href="Brent%20Schneider%20-%20UI-UX%20Resume%20-%20PDF.pdf">PDF</a></li>
		<li><a href="Brent%20Schneider%20-%20UI-UX%20Resume%20-%20Word.doc">Word Document</a></li>
		<li><a href="Brent%20Schneider%20-%20UI-UX%20Resume%20-%20Pages.pages">Pages</a></li>
		<li><a href="Brent%20Schneider%20-%20UI-UX%20Resume%20-%20Markdown.md">Markdown</a></li>
</ul>

<h1 itemprop="name">Brent Schneider</h1>
<ul class="contact">
	<li><a href="http://puddletowndesign.com/" itemprop="url">puddletowndesign.com</a><br></li>
	<li><a href="tel:+1-503-577-2417" itemprop="telephone">(503) 577-2417</a><br></li>
	<li><a itemprop="email" href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x62;&#x72;&#x65;&#x6e;&#x74;&#x40;&#x70;&#x75;&#x64;&#x64;&#x6c;&#x65;&#x74;&#x6f;&#x77;&#x6e;&#x64;&#x65;&#x73;&#x69;&#x67;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;" >&#x62;&#x72;&#x65;&#x6e;&#x74;&#x40;&#x70;&#x75;&#x64;&#x64;&#x6c;&#x65;&#x74;&#x6f;&#x77;&#x6e;&#x64;&#x65;&#x73;&#x69;&#x67;&#x6e;&#x2e;&#x63;&#x6f;&#x6d;</a><br></li>
</ul>

<p class="tldr" itemprop="description">
	<em>I am a <span itemprop="jobTitle">full stack interactive designer</span> based in <span itemprop="workLocation">Portland, Oregon</span> with a special focus on UX. I am currently seeking freelance or part time opportunities.</em>
</p>



<h2>Skills</h2>

<p><strong itemprop="makesOffer">CSS</strong> <em>(11 years)</em> - Mastery of the current CSS3 working draft, with an focus on progressive enhancement for compatible browsers and browser specific properties. I mainly work with SASS/SCSS.</p>

<p><strong itemprop="makesOffer">PHP</strong> <em>(8 years)</em> -
Very strong skills in Object Oriented PHP5, basic understanding of design patterns with a focus on encapsulated and modular code. E_STRICT code base.</p>

<p><strong itemprop="makesOffer">HTML</strong> <em>(11 years)</em> -
Minimal and extremely clean HTML5 code usually marked up with Schema.org, ARIA or other semantics. </p>

<p><strong itemprop="makesOffer">SQL</strong> <em>(8 years)</em> -
Functional knowledge of SQL. Strong skills structuring and optimizing information. Experience includes working with prepared statements in PDO/mysqli with MySQL and SQLite and basic database optimizations.</p>

<p><strong>Javascript</strong> <em>(10 years)</em> -
Focus on implementing progressively enhanced javascript. Strong skill set working with jQuery for browser apps. Some Experience working with node.</p>

<p><strong>CMS/ Frameworks</strong> -
Experience modifying and theming Drupal and Wordpress. Ability to write custom modules and plugins. Experience working with Laravel, Slim &amp; CodeIgniter. I&#8217;ve also developed my own frameworks.</p>

<p><strong>Development Environment</strong> - Mac OS X, Textmate, Vargrant/Ubuntu, Git</p>

<h2>Experience</h2>

<p><strong>Freelance</strong> <em>(10 years - present)</em> -
Running and operating <span itemprop="worksFor">Puddletown Design</span> since 2006. Managing project teams, Design and user <span itemprop="makesOffer">Interface testing</span>, marketing, accounting and <span itemprop="makesOffer">SEO</span>.</p>

<p><strong>LET Group</strong> <em>(2012-2015)</em> -
Working directly with clients implementing and <span itemprop="makesOffer">customizing website layouts</span> for large hotel chains. I engineering booking forms, content strategy and client relations.</p>

<p><strong>Haze Media</strong> <em>(2008 - 20011)</em> -
Working on various projects, utilizing AS3, HTML &amp; PHP, Clients include: Koro Sun Resort (Fiji), Path Finder Products International, Marshak Clinic.</p>

<h2>Recent Work</h2>

<p><strong>Raygun Recordings</strong><br>
<span itemprop="makesOffer">Custom wordpress website</span>. <span itemprop="makesOffer">Brand strategy</span>, Logo design, business cards and social media.</p>

<p><strong>Brandon Wilkinson</strong><br>
Custom content management system written in PHP with a SQLite data storage layer. I developed and designed all aspects of this website from the ground up.</p>

<p><strong>adidas Originals</strong><br>
Created a front end design for the adidas Originals store opening invitation website. Site was designed to let users sign up, select a playlist and have a custom CD mailed to them with an invite.</p>

<p class="more">For more of my work, please view my <a  href="http://puddletowndesign.com/">online portfolio</a></p>

</body>
</html>
